/* 
    W3SCHOOLS: CSS GRID
    Layout 2 dimensi (Baris & Kolom). Lebih powerful dari Flexbox untuk struktur halaman.
*/

.grid-container {
    display: grid;

    /* Mendefinisikan kolom: 3 kolom. auto=otomatis, bisa pakai px atau fr */
    grid-template-columns: auto auto auto;
    /* grid-template-columns: 1fr 2fr 1fr; (Kolom tengah 2x lebih lebar) */

    background-color: #2196F3;
    padding: 10px;

    /* Jarak antar sel */
    gap: 10px;
    /* row-gap, column-gap */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* Child Item Placement */
/* Item 1 dimulai dari garis kolom 1 sampai 3 (menggabungkan 2 kolom) */
.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    /* Shorthand: grid-column: 1 / 3; */
    /* Span: grid-column: 1 / span 2; */
}

/* Item 2 dimulai dari garis baris 1 sampai 3 (menggabungkan 2 baris ke bawah) */
.item2 {
    grid-row: 1 / 3;
}